<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadComments</servlet-name>
        <servlet-class>com.nomatech.karim.controllers.UploadComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadNewCar</servlet-name>
        <servlet-class>com.nomatech.karim.controllers.UploadNewCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setCarId</servlet-name>
        <servlet-class>com.nomatech.karim.controllers.setCarId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadComments</servlet-name>
        <url-pattern>/UploadComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadNewCar</servlet-name>
        <url-pattern>/UploadNewCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setCarId</servlet-name>
        <url-pattern>/setCarId</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
